<div class="container">
  <div class="page-header">
   <%= render "header" %>
  </div>

  <div class="body-container">
    <h1 class="chart-title">Most Positive Tweeters: Primary Frontrunners</h1>
    <h5 class="chart-subtitle">Measured by Previous 25 Tweets</h5>
      <div id="wrapper">
        <%= javascript_include_tag("positivity")%>
      </div>
  </div>
</div>