<div class= "container">
  <div class="image-banner">
    <%= image_tag( "banner-copy2.svg", class: "landing-page-image") %>
  </div>

  <div class="phrase">
  <h2> Politics Made Simple </h2>
  </div>

  <div class="button-container">
    <%= button_to "Check Out Candidates", candidates_path, method: "get", class: "btn-lg" %>
    <%= button_to "Check Out Polls", polls_path, method: "get", class: "btn-lg" %>
    <%= button_to "Check Out Positivity", positivity_path, method: "get", class: "btn-lg" %>
  </div>

</div>

