<div class= "container">

  <div class="image-banner">
    <%= image_tag( "banner-copy2.svg", class: "landing-page-image") %>
  </div>

  <div class="phrase">
  <h4> Politics Made Simple </h4>
  </div>

  <div class="button-container">
    <%= button_to "Check Out Candidates", candidates_path, method: "get", class: "btn-lg" %>
    <%= button_to "Check Out Polls", polls_path, method: "get", class: "btn-lg" %>

  </div>

</div>

<footer>
  <ul>
    <div class"politips">
      <li class="footer-link"><a href"https://github.com/dpasie2/politips-final-project">politips</a></li>
    </div>

    <div class="group-names">
      <li class="footer-link"><a href"https://github.com/bcahill">bcahill</a></li>
      <li class="footer-link"><a href"https://github.com/pbsugg">pbsugg</a></li>
      <li class="footer-link"><a href"https://github.com/colemcampbell">colemcampbell</a></li>
      <li class="footer-link"><a href"https://github.com/dpasie2">dpasie2</a></li>
      <li class="footer-link"><a href"https://github.com/alita42">alita42</a></li>
    </div>
  <ul>
</footer>
