<div class="container">
    <div class="page-header">
        <%= render "header" %>
    </div>

    <div class="body-container">
        <div class="buffer">
            <div class="party-tabs">
                <button id="republican-chart-button"  type="button"> Republicans </button>
                <button id="democratic-chart-button" type="button"> Democrats </button><br>
                <p class="polls-explanation" id="element"> Click on either Party to see how they stand in the Presidential Race</p>
            </div>
        </div>

        <div id="d3-charts">
            <div class="d3-charts">
                <%= javascript_include_tag("pollingvisuals")%>
            </div>
        </div>
    </div>
</div>