
<div class="page-header">
    <%= image_tag( "banner-copy2.svg", class: "polls-page-image", id: "element") %>
    <form class ="form-button" action="/candidates" method="get">
        <button type="button" class="btn-lg candidates-button" id="element">Candidate Positions</button>
    </form>
</div>


    <ul class="party-tabs">
        <button id="republican-chart-button"  type="button"> Republicans </button>
        <button id="democratic-chart-button"  type="button"> Democrats </button>
    </ul>


    <div id="d3-charts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d3-charts">
                        <%= javascript_include_tag("pollingvisuals")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
