<div class="polls-data-container">
  <div class="page-header">
    <%= image_tag( "banner-copy2.svg", class: "candidates-page-image") %>
  </div>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse sidebar-navbar-collapse">

    </div>
  </div>

  <div class="d3">
    <%= javascript_include_tag("pollingvisuals")%>
  </div>
</div>
