<div class="candidates-container">
<div class="page-header">
  <%= image_tag( "banner-copy2.svg", class: "candidates-page-image") %>
</div>
  <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <h5 class="republican"> Republicans </h5>
            <% @candidates.get_party_members("Republican").each do |candidate| %>
              <li class"one-republican"><%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate_path %></li>
            <% end %>
            <h5 class="democrat"> Democrats </h5>
            <% @candidates.get_party_members("Democrat").each do |candidate| %>
              <li class="one-democrat"><%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate_path %></li>
            <% end %>
          </ul>
        </div>
  </div>
    <div class="d3">

    </div>
</div>
