.navbar {
  margin-left: 5px;
  width: 19%;
  font-family: 'Open Sans', sans-serif;
}



.sidebar-nav .navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
    width: 25px;
}

.sidebar-nav .navbar ul {
  float: none;
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.candidates-page-image{
  width: 100%;
  height: 120px;
 }

.navbar-default .navbar-collapse{
  margin-left: 0px;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Open Sans', sans-serif;
  color: #2A2525;
}

.navbar-nav{
    max-height: 500px;
    overflow-y:scroll;
    margin: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: gold;
}

/*.one_republican:hover{
  color: #E93829;
}

.one_democrat:hover{
  color: #21409A;
}*/

.republican{
  color: #E93829;
}

.democrat{
  color: #21409A;
}

.page-header{
  background-image: url("/images/whitecanvasbackground.png") ;
  margin-top: 0px;
  margin-bottom: 0px;
  /*border-bottom: none;*/
}

