.polls-explanation {
  text-align: center;
  display: inline-block;
}

#candidates-button {
  width:15%;
}
#positivity-button {
  width:15%;
}

#side-wrapper.polls-nav {
  width: 1000px;
}

#republican-chart-button, #democratic-chart-button {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: white ;
    width: 200px;
}

#republican-chart-button {
  color: #E93829;
}

#republican-chart-button:hover {
  background-color: #de786e;
  color: white;
}

#democratic-chart-button {
  color: #21409A;
}

#democratic-chart-button:hover {
  background-color: #87acb9;
  color: white;
}

.party-tabs {
  text-align: center;
}

.polls-page-image {
  width: 57%;
  height: 122px;
 }

.candidates-button {
  width: 15%;
}

#element {
  display: inline-block;
}

#polls-chart {
  display: block;
  margin: auto;
  width: 100%;
}

#d3-charts {
  margin-left: 0;
}

#registration-button{
  width: 55%;
}
